@model IkinciElKitapSatis.Models.KITAPLAR

@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="container">
    <div id="layoutSidenav_content" class="mt-3">
        <main>
            <div class="container px-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas bi-book me-1"></i>
                        <span class="fs-3">Kitap Ekleme Sayfası</span>
                    </div>
                    <div class="card-body">
                        <form action="/Home/KitapEkle" method="post">
                            <input type="hidden" name="BARKOD" class="form-control" placeholder="Barkod" /><br />
                            <select class="form-select" name="KATEGORIID">
                                @foreach (var kategori in ViewBag.kategoriler)
                                {
                                    <option value="@kategori.KATEGORIID">@kategori.KATEGORIAD</option>
                                }
                            </select><br />
                            <input type="text" name="KITAPRESMI" class="form-control" placeholder="Resim Linki" /><br />
                            <input type="text" name="KITAPADI" class="form-control" placeholder="Kitap Adı" /><br />
                            <select class="form-select" name="YAYINEVIID">
                                @foreach (var yayinevi in ViewBag.yayinevleri)
                                {
                                    <option value="@yayinevi.YAYINEVIID">@yayinevi.YAYINEVIADI</option>
                                }
                            </select><br />
                            <select class="form-select" name="YAZARID">
                                @foreach (var yazar in ViewBag.yazarlar)
                                {
                                    <option value="@yazar.YAZARID">@yazar.YAZARADI</option>
                                }
                            </select><br />
                            <textarea placeholder="Açıklamanızı yazınız..." name="KITAPACIKLAMA" class="form-control" rows="5"></textarea><br />
                            <input type="datetime-local" name="YAYINTARIHI" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" /><br />
                            <input type="text" name="FIYAT" class="form-control" placeholder="Fiyat" /><br />
                            <input type="text" name="STOKMIKTARI" class="form-control" placeholder="Stok Miktarı" /><br />
                            <button class="btn btn-info" type="submit">Kaydet</button>
                            <a href="/Home/KitapListele" class="btn btn-outline-warning">Vazgeç</a>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!--FOOTER-->
        @Html.Partial("_PartialFooter")
    </div>
</body>